h2 a,h2 a:visited {
    color:blue;
    text-decoration: none;
}
h2 a:hover {
    color:red;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

body {
font-family: 'Source Sans Pro', sans-serif;
font-size: 18px;
}
header {
border-bottom: 1px solid #999;
margin-bottom: 2rem;
display: flex;
}
.navbar {
    display:flex;
    width:100%;
    justify-content: space-around;
    padding:2vh;
}
.navbar a {
    text-decoration: none;
    font-size:1.7rem;
}
.posts {
    text-align: center;
    display: flex;
    flex-direction: row;

}
.post-entry {
    border:1px solid green;
    padding:4vh;
    margin-right: 3vh;
}
.post-detail {
    width:300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.detail-buttons a {
    text-decoration: none;
    padding:10px;
    margin-left: 3vh;
    color: black;
    background: orange;
    border-radius: 5px;
}
